body{
margin:0;
font-family:Arial;
background:#ece5dd;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.chat-container{
width:400px;
height:600px;
background:white;
display:flex;
flex-direction:column;
border-radius:10px;
overflow:hidden;
}

.chat-header{
background:#075e54;
color:white;
padding:10px;
}

.profile{
display:flex;
align-items:center;
gap:10px;
}

.avatar{
width:40px;
height:40px;
border-radius:50%;
background:#25d366;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}

.status{
font-size:12px;
opacity:0.8;
}

.chat-messages{
flex:1;
padding:10px;
overflow-y:auto;
background:#efeae2;
display:flex;
flex-direction:column;
}

.message{
max-width:70%;
padding:8px 12px;
border-radius:10px;
margin:5px 0;
font-size:14px;
position:relative;
}

.sent{
background:#dcf8c6;
margin-left:auto;
}

.received{
background:white;
margin-right:auto;
}

.msg-time{
font-size:10px;
color:gray;
display:block;
text-align:right;
margin-top:3px;
}

.chat-input{
display:flex;
border-top:1px solid #ccc;
}

.chat-input input{
flex:1;
padding:12px;
border:none;
outline:none;
}

.chat-input button{
background:#25d366;
border:none;
color:white;
padding:0 20px;
cursor:pointer;
}